body {
  margin: 0;
  min-height: 100vh;
  /*background: linear-gradient(135deg, #e0c3fc, #8ec5fc);*/
  /*background: linear-gradient(135deg, #fbc2eb, #a6c1ee);*/
  background: linear-gradient(135deg, #d9afd9, #97d9e1);
}

/* Galeria */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* Quadros */
.quadro {
   width: 280px;
  height: 220px;
  background: white;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 14px;  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}


/* Mandalas */
.mandala {
   max-width: 180%;
  max-height: 145%;
  cursor: pointer;
}


/* Gira ao passar o mouse */
.mandala:hover {
  animation: girar 6s linear infinite;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Modal */
#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Evita barras de rolagem sobrando */
  cursor: zoom-out; /* Cursor de fechar */
}

#modal.ativo {
  display: flex;
}

#zoomImg {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.1s ease-out; /* Suaviza o movimento do zoom */
  cursor: crosshair; /* Cursor de mira para indicar precisão */
  transform-origin: center; /* Opcional: define de onde o zoom começa */
}

/* Botão fechar */
#fechar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}
.titulo {
  text-align: center;
  font-family: 'URW Chancery L', cursive;
  font-size: 36px;
  margin-bottom: 30px;
  color: #444;
}
